
<!-- footer -->
<footer class="footer">
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="info-inner-wrap">
				<div class="info-wrap"><a href="mailto:mail@primewill.ru">mail@primewill.ru</a></div>
				<div class="info-wrap"><a href="">г. Краснояркс, ул. Брянская 142</a></div>
				<div class="info-wrap"><a href="tel:89138372426">8-913-837-24-26</a></div>
			</div>
			<div class="soc-inner-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="header-menu-panel cnt-section">
		<div class="inner-wrap">
			<ul class="menu">
			<li>
				<a href="" class="btn-menu">
					<div class="button-title">О нас</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-title">Проекты</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-title">Услуги</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-title">Фотогалерея</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-title">Отзывы</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-title">Обзоры</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-title">Блог</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-title">Контакты</div>
				</a>
			</li>
		</ul>
		</div>
	</div>
	<div class="footer-map-panel cnt-section">
		<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-eov8YMYfEHTrqs_Q1kKzkBJYs6HKSuT&width=100%25&height=100%25&lang=ru_RU&sourceType=constructor"></script>
	</div>
	<div class="footer-info-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-wrap">Праймвилл © 2025</div>
			<div class="info-wrap"><a href="" class="link-main">Политика конфиденциальности</a></div>
		</div>
	</div>
</footer>
<!-- /footer -->

