
<!-- header -->
<header class="header">
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="info-inner-wrap">
				<div class="info-wrap"><a href="">г. Краснояркс, ул. Брянская 142</a></div>
				<div class="info-wrap"><a href="tel:89138372426">8-913-837-24-26</a></div>
			</div>
			<div class="soc-inner-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
				<a href="" class="btn button-base button-border button-small js-popup-open" data-popup="popup-order">
					<div class="button-title">Оставить заявку</div>
				</a>
			</div>
		</div>
	</div>
	<div class="header-menu-panel cnt-section">
		<div class="inner-wrap">
			<ul class="menu">
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">О нас</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Проекты</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Услуги</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Фотогалерея</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Отзывы</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Обзоры</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Блог</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Контакты</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>
<!-- /header -->