<!--section-order-box-->
<div class="section-order-box cnt-section">
	<div class="box-inner-wrap">
		<div class="bg-inner-wrap">
			<img src="./img/action01.jpg" alt="" class="img-bg-cover">
		</div>
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<h2 class="h2-title section-title">Приглашаем вас в наш выставочный дом</h2>
				<p>Приглашаем вас посетить наш выставочный дом! Запишитесь на просмотр, выбрав удобную для вас дату и время</p>
				<a href="" class="btn button-light button-border button-hover-white">
					<div class="button-title">Записаться на просмотр</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!--/section-order-box-->